<h1>Here's your team!</h1>
<ul>
  <li>Team name: <%=@team_name%></li>
  <li>Team motto: <%=@team_motto%></li>
  <br>
  <li>Hero Name: <%=@member1_name%></li>
  <li>Hero Power: <%=@member1_power%></li>
  <li>Hero Bio: <%=@member1_bio%></li>
  <br>
  <li>Hero Name: <%=@member2_name%></li>
  <li>Hero Power: <%=@member2_power%></li>
  <li>Hero Bio: <%=@member2_bio%></li>
  <br>
  <li>Hero Name: <%=@member3_name%></li>
  <li>Hero Power: <%=@member3_power%></li>
  <li>Hero Bio: <%=@member3_bio%></li>
